<div class="courses-navigation__wrapper d-flex justify-content-between p">
  <div class="courses-navigation__search-bar d-flex align-items-center justify-content-between col-6 px-0">
    <input
      type="text"
      #searchField
      class="form-control col-8"
      placeholder="Type to search"
      (keyup)="searchField.value.length >= 3 && keyUp$.next(searchField.value)"
    />

    <a
      href="javascript:void(0);"
      *ngIf="searchField.value.length"
      (click)="keyUp$.next('') || (searchField.value = '')"
      class="bnt btn-link mr-4"
      >Clear</a
    >

    <button type="button" class="btn btn-success js-search-btn">
      <span class="fa fa-search mr-1"></span>
      Search
    </button>
  </div>
  <button type="button" class="btn btn-primary align-self-end" [routerLink]="['./new']">
    <span class="fa fa-plus-circle mr-1"></span>
    Add course
  </button>
</div>
