<div class="panel panel-default wb-box-element">
  <div class="panel-heading">
    <h4 class="pannel-title">{{ course && course.id ? 'Edit course' : 'Add new course' }}</h4>
  </div>
  <div class="panel-body">
    <form (ngSubmit)="onSaveCourse(form)" id="course-form" #form="ngForm">
      <div class="form-group">
        <label for="courseTitle">Title:</label>
        <input
          type="text"
          class="form-control"
          id="courseTitle"
          name="title"
          placeholder="Course Title"
          required
          [(ngModel)]="course.title"
        />
      </div>

      <div class="form-group">
        <label for="courseDescription">Description:</label>
        <textarea
          rows="6"
          class="form-control"
          name="description"
          placeholder="Course Description"
          [(ngModel)]="course.description"
        ></textarea>
      </div>

      <wb-time-form [timeDuration]="course.duration"></wb-time-form>

      <wb-date-form [date]="course.creationDate"></wb-date-form>

      <wb-chips-form></wb-chips-form>

      <div class="d-flex justify-content-end">
        <button class="btn btn-secondary mr-4" type="button" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
      </div>
    </form>
  </div>
</div>
